@media only screen and (max-width: 768px) { 

   /*-------------------------
    * Blog Grid
    ---------------------------*/

  /* Three column blog area */
  .primekit-ele-three-column-blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  /* Four column blog area */
  .primekit-ele-four-column-blog {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

/*----------------------------------------------
* Blog List
* ---------------------------------------------*/

    .primekit-ele-blog-list-thumb {
      float: none;
      width: 100%;
      margin-right: 0;
    }

/*----------------------------------------------
 * Author Bio
 * ---------------------------------------------*/

  .primekit-ele-author-bio {
    column-gap: 10px;
    flex-direction: column;
  }

  .primekit-ele-authorleft {
    width: 100%;
  }

  .primekit-ele-authorright {
    width: 100%;
  }

  /* ---------------------------------------------
 * Card Info
 * --------------------------------------------- */
 .primekit-card-style-two-area .primekit-card-info-wrap {
  flex-direction: column !important;
}

}


@media only screen and (max-width: 480px) {

    /*------------------------
    * Blog Fancy widget
    --------------------------*/
  .primekit-ele-single-blog-content-area {
    width: 100%;
    position: unset;
  }

  .primekit-ele-single-blog-area:not(.primekit-ele-single-first) {
    flex-direction: column;
  }

  .primekit-ele-single-blog-thumbnail {
    max-width: 100%;
  }

  .primekit-ele-single-blog-rem-posts .primekit-ele-single-blog-thumbnail img,
  .primekit-ele-single-blog-rem-posts .primekit-ele-single-blog-thumbnail {
    height: auto;
  }


}